<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-start justify-content-lg-start p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div sty>
        <a href="https://www.facebook.com/vjeetscooter/" class="me-4 text-reset">
          <img  src="/images/footer/facebook.png" alt="" style="width:20px; height:20px ;">
        </a>
        <a href="" class="me-4 text-reset">
            <img  src="/images/footer/instagram.png" alt="" style="width:20px; height:20px ;">
        </a>
        <a href="" class="me-4 text-reset">
            <img  src="/images/footer/twitter.png" alt="" style="width:20px; height:20px">

        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>VET STORE
            </h6>
            <p>
                Vietnam's #1 Electric Scooters Distributor. We are accelerating the world's transition to sustainable energy with electric scooters, solar and integrated renewable energy solutions for homes and businesses 
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Products
            </h6>
            <p>
              <a href="#!" class="text-reset">Mukuta</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Whale</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Xiaomi</a>
            </p>
            <p>
              <a href="#!" class="text-reset">VinFast</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="#!" class="text-reset">Pricing</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Settings</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Orders</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Help</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i> Ha Noi, Vietnam</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              info@vetscooter.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2023 Copyright:
      <a class="text-reset fw-bold" href="https://vet.com/">VETStore.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->