<% layout('layouts/boilerplate.ejs') %>



<section class="homepage-collage">
    <h2>SHINE WITH US! SHARE WITH US!</h2>
    <h5>#VETSCOOTER</h5>
    <div class="rows">
        <div class="column">


            <img class="img-fluid"
                src="https://scontent.fhan3-5.fna.fbcdn.net/v/t39.30808-6/353634586_647229977458623_466531448942366686_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=5614bc&_nc_ohc=LP7IJJULVHcAX9vFwwD&_nc_ht=scontent.fhan3-5.fna&oh=00_AfDHCigEk1VOztM7-axbKcxi39bbCPnAI1wOYokFne70xg&oe=64FF53A4"
                alt="">

            <!-- <img class="img-fluid"
                src="https://scontent.fhan3-3.fna.fbcdn.net/v/t39.30808-6/353409689_646738880841066_5874265480978482522_n.jpg?stp=cp6_dst-jpg&_nc_cat=106&ccb=1-7&_nc_sid=5614bc&_nc_ohc=Iv2KUOHnobsAX-0V8W4&_nc_ht=scontent.fhan3-3.fna&oh=00_AfCAQ05M4EPI9zioTokO_TGHFBw_rAvo5xsqP7axxTuuXw&oe=64FFD548"
                alt=""> -->

            <img class="img-fluid"
                src="https://scontent.fhan3-2.fna.fbcdn.net/v/t39.30808-6/354984269_647944367387184_8244757030103686122_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=49d041&_nc_ohc=RDUH85m1h2oAX_3aKT4&_nc_ht=scontent.fhan3-2.fna&oh=00_AfBJsVZ3ZocmDkWjjMkDqGfJkKrWYQQHaJmi7hz71orJ7Q&oe=64FF05F1"
                alt="">

            <img class="img-fluid"
                src="https://images.unsplash.com/photo-1634886313120-c8bfa8e84205?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1976&q=80"
                alt="">
            <!-- 
            <img class="img-fluid"
                src="https://scontent.fhan3-3.fna.fbcdn.net/v/t39.30808-6/353044873_647229930791961_2922392357882283381_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=5614bc&_nc_ohc=Qv0Up77n_54AX_8s3iX&_nc_ht=scontent.fhan3-3.fna&oh=00_AfBBBBBl7tKpgS4jpGsHGyozjpVzJiL2h4ILOR58RrGUCQ&oe=64FF968B"
                alt=""> -->

            <img class="img-fluid"
                src="https://images.unsplash.com/photo-1547619292-8816ee7cdd50?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mzl8fGVsZWN0cmljJTIwc2Nvb3RlcnxlbnwwfHwwfHx8Mg%3D%3D&auto=format&fit=crop&w=600&q=60"
                alt="">
        </div>

        <div class="column">
            <img class="img-fluid"
                src="https://scontent.fhan3-5.fna.fbcdn.net/v/t39.30808-6/353448065_647229844125303_7000364137639364842_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=5614bc&_nc_ohc=ckwbKSkcmcwAX_Vko-J&_nc_ht=scontent.fhan3-5.fna&oh=00_AfBn28nuopHU-xKIKK3Vpw2HLXTHpXOkgVxO2R70vPmMfw&oe=64FFEFB0"
                alt="">

            <img class="img-fluid"
                src="https://images.unsplash.com/photo-1621222667887-c1112e53abb1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NjZ8fGVsZWN0cmljJTIwc2Nvb3RlcnxlbnwwfHwwfHx8Mg%3D%3D&auto=format&fit=crop&w=600&q=60"
                alt="">

            <img class="img-fluid"
                src="https://images.unsplash.com/photo-1631255500887-a568e24103e4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80"
                alt="">

            <img class="img-fluid"
                src="https://images.unsplash.com/photo-1623207831300-8915dd80afd2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nzl8fGVsZWN0cmljJTIwc2Nvb3RlcnxlbnwwfHwwfHx8Mg%3D%3D&auto=format&fit=crop&w=600&q=60"
                alt="">

            <img class="img-fluid"
                src="https://images.unsplash.com/photo-1559585198-8c2694b5d132?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80"
                alt="">

        </div>
        <div class="column">

            <img class="img-fluid"
                src="https://scontent.fhan3-3.fna.fbcdn.net/v/t39.30808-6/363775516_668916188623335_2675517400051668055_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=49d041&_nc_ohc=Q0gO4nWIVakAX8C8EDK&_nc_ht=scontent.fhan3-3.fna&oh=00_AfDr4YXPAIzCY8gtgm243xv2NgtHxlGXWTjbVKe62ABUrA&oe=65000B09"
                alt="">

            <img class="img-fluid"
                src="https://images.unsplash.com/photo-1621222614114-93839e174338?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
                alt="">

            <img class="img-fluid"
                src="https://scontent.fhan4-1.fna.fbcdn.net/v/t39.30808-6/355509604_649747013873586_1017385922893685590_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=a2f6c7&_nc_ohc=ra4dAKXpehsAX8AgEUz&_nc_ht=scontent.fhan4-1.fna&oh=00_AfDY_0A8cd0y8NZAWQkq-1_1pYgOSCrnreUIdlafbUbvFw&oe=64FF9E01"
                alt="">

            <img class="img-fluid"
                src="https://images.unsplash.com/photo-1558681513-375e8e81b6de?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzJ8fGVsZWN0cmljJTIwc2Nvb3RlcnxlbnwwfHwwfHx8Mg%3D%3D&auto=format&fit=crop&w=600&q=60"
                alt="">

            <img class="img-fluid"
                src="https://images.unsplash.com/photo-1628735991816-c45f2ff1e741?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
                alt="">
        </div>
        <div class="column">

            <img class="img-fluid"
                src="https://images.unsplash.com/photo-1599940036426-617d1763eb94?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDN8fGVsZWN0cmljJTIwc2Nvb3RlcnxlbnwwfHwwfHx8Mg%3D%3D&auto=format&fit=crop&w=600&q=60"
                alt="">

            <!-- <img class="img-fluid"
                src="https://scontent.fhan3-2.fna.fbcdn.net/v/t39.30808-6/363412452_674059808108973_6742682707231957549_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=5614bc&_nc_ohc=hZkcNqT7lBQAX94dYyV&_nc_ht=scontent.fhan3-2.fna&oh=00_AfAxKvfwVCrA3T5LvSYhmLBrbHeQpOpAKxapTG0WvJ241Q&oe=64FE9329"
                alt=""> -->

            <img class="img-fluid"
                src="https://images.unsplash.com/photo-1559585198-8c2694b5d132?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80"
                alt="">

            <img class="img-fluid"
                src="https://plus.unsplash.com/premium_photo-1681486795901-78849e196ced?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80"
                alt="">

            <img class="img-fluid"
                src="https://scontent.fhan4-1.fna.fbcdn.net/v/t39.30808-6/365241133_677018207813133_1853295981806668785_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=49d041&_nc_ohc=UhFq19zqXEsAX9QrED6&_nc_ht=scontent.fhan4-1.fna&oh=00_AfCsHIvAjqF9ZQQUiMIvfl8tzwfmhkISsWdiAhPyDhDcmg&oe=64FEA086"
                alt="">


        </div>

        <div class="column">
            <!-- <img class="img-fluid"
                src="https://scontent.fhan3-5.fna.fbcdn.net/v/t39.30808-6/365952026_677018477813106_8072149529782576872_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=49d041&_nc_ohc=Sy8colW22MUAX_FyqBI&_nc_ht=scontent.fhan3-5.fna&oh=00_AfDe79XPdo3PYCKuyznjvbTNRQIUzbM-VBWFPdaQINWBoQ&oe=64FFAEED"
                alt=""> -->

            <img class="img-fluid"
                src="https://images.unsplash.com/photo-1589308454676-06c69786e24c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1935&q=80"
                alt="">

            <img class="img-fluid"
                src="https://scontent.fhan3-3.fna.fbcdn.net/v/t39.30808-6/365277576_674899248025029_618850793293968785_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=49d041&_nc_ohc=0onyaHzbbLMAX8rXsQb&_nc_ht=scontent.fhan3-3.fna&oh=00_AfAwoSjEayBaBBrM8M_Vr_pB4tbS_0aqS9dWjzDAVYYTbg&oe=64FF1A74"
                alt="">

            <img class="img-fluid"
                src="https://images.unsplash.com/photo-1597260491590-7a542ff29bdd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1852&q=80"
                alt="">

            <img class="img-fluid"
                src="https://scontent.fhan3-3.fna.fbcdn.net/v/t39.30808-6/370564137_684333883748232_1788331204030999374_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=49d041&_nc_ohc=POu-Qfis_YIAX-9o8q1&_nc_ht=scontent.fhan3-3.fna&oh=00_AfCLvIEgrmWyGvjxecClrs5_OjBj09PBStsxEkshi3TdIg&oe=650069C8"
                alt="">

        </div>

        <!-- <div class="column">

            <img class="img-fluid"
                src="https://scontent.fhan3-2.fna.fbcdn.net/v/t39.30808-6/351124687_284948137328696_5167229641952609579_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=49d041&_nc_ohc=JB5awu45T2gAX_IDtYa&_nc_ht=scontent.fhan3-2.fna&oh=00_AfAOTOW7NKQlyGxGDN4jh7jCYdbhvGA-uHAHewok9eq7fA&oe=65000861"
                alt="">

            <img class="img-fluid"
                src="https://images.unsplash.com/photo-1614226170075-d338afcd9c53?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1780&q=80"
                alt="">

            <img class="img-fluid"
                src="https://scontent.fhan3-3.fna.fbcdn.net/v/t39.30808-6/336371179_918711199177662_7997235808211050106_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=5614bc&_nc_ohc=L2vsTDkDiGsAX8sWUSc&_nc_ht=scontent.fhan3-3.fna&oh=00_AfAqcpLMtMXvrnVjaiJ-nlYshXPcM0uetYiOyfClWxilfA&oe=64FED710"
                alt="">

            <img class="img-fluid"
                src="https://scontent.fhan3-2.fna.fbcdn.net/v/t39.30808-6/345940148_774554280991437_5490754902188294910_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=49d041&_nc_ohc=RwnOHUFaQRUAX9Xm-uf&_nc_ht=scontent.fhan3-2.fna&oh=00_AfC0Bmw3vQcmS4Hm2FFZ09aEjf92_ohz1UFONVkFXnwh_g&oe=65005FC3"
                alt="">

            <img class="img-fluid"
                src="https://scontent.fhan3-3.fna.fbcdn.net/v/t39.30808-6/369359807_684334200414867_4058033572022264898_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=49d041&_nc_ohc=gEMetoUcTE8AX_LmJE_&_nc_ht=scontent.fhan3-3.fna&oh=00_AfB7polJJ7UJJ7GTHDDfPxu6O_1xV_PFEU8GsqqiIAoxlQ&oe=64FF9C25"
                alt="">

        </div>

        <div class="column">

            <img class="img-fluid"
                src="https://images.unsplash.com/photo-1623993307415-7dad01424952?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
                alt="">

            <img class="img-fluid"
                src="https://scontent.fhan3-3.fna.fbcdn.net/v/t39.30808-6/353044873_647229930791961_2922392357882283381_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=5614bc&_nc_ohc=Qv0Up77n_54AX_8s3iX&_nc_ht=scontent.fhan3-3.fna&oh=00_AfBBBBBl7tKpgS4jpGsHGyozjpVzJiL2h4ILOR58RrGUCQ&oe=64FF968B"
                alt="">

            <img class="img-fluid"
                src="https://scontent.fhan3-3.fna.fbcdn.net/v/t39.30808-6/350499422_782822443422177_8814611942989085062_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=5614bc&_nc_ohc=c1ZYSCXTOhMAX-nqyui&_nc_ht=scontent.fhan3-3.fna&oh=00_AfD4r8QeA3_pzIwDBge6KzUI8Lzi86Gj_Ftwf9_8wod51w&oe=650071EB"
                alt="">

            <img class="img-fluid"
                src="https://scontent.fhan4-1.fna.fbcdn.net/v/t39.30808-6/354066189_646824870832467_1214418824728795501_n.jpg?stp=cp6_dst-jpg&_nc_cat=104&ccb=1-7&_nc_sid=5614bc&_nc_ohc=-ocKud6dypIAX804wTt&_nc_ht=scontent.fhan4-1.fna&oh=00_AfCdvkbCiDm3XHl8H5j0-6uAs0U4VQs6fFAQqigLOEY5ew&oe=64FF16B9"
                alt="">
            <img class="img-fluid"
                src="https://scontent.fhan3-2.fna.fbcdn.net/v/t39.30808-6/351006120_644379680481857_5938685479000373456_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=49d041&_nc_ohc=cO67WWq7NecAX86ZDoi&_nc_ht=scontent.fhan3-2.fna&oh=00_AfB3OYUWSnr4qY1B-sWbrBJSpUMmflGtdmn6ugFMBibs_A&oe=6500204E"
                alt="">

        </div> -->










    </div>
</section>

