<% layout('layouts/boilerplate.ejs') %>

    <!-- Carousel -->
    <section class="homepage-carousel">
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3"
                    aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4"
                    aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0"
                    aria-label="Slide 3"></button>

            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <img src="https://i02.appmifile.com/653_operator_global/02/12/2022/f780764cd0e9e7fc9885dc33ae2b3466.jpg?f=webp"
                        class="d-block w-100 " alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5> 
                            <div class="btn btn-success">Details</div>
                        </h5>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="https://i02.appmifile.com/802_operator_global/17/03/2023/cb15394760e46d93c00a483f8f5bb99b.png?f=webp"
                        class="d-block w-100 " alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Second slide label</h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://i02.appmifile.com/679_operator_global/02/08/2023/6688dbeaee9baad0e5b453be0b2a2629.jpg?f=webp"
                        class="d-block w-100 " alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Third slide label</h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://i02.appmifile.com/653_operator_global/02/12/2022/f780764cd0e9e7fc9885dc33ae2b3466.jpg?f=webp"
                        class="d-block w-100 " alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Third slide label</h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://i02.appmifile.com/679_operator_global/02/08/2023/6688dbeaee9baad0e5b453be0b2a2629.jpg?f=webp"
                        class="d-block w-100 " alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Third slide label</h5>
                    </div>
                </div>

            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

<section class="product-details-product-list">
    <h1 class="text-center">All Products </h1>


    <div class="container-fluid">
        <div class="row text-center ">
            <% for (let eachProduct of products){ %>

                <div class="col-6 col-sm-6 col-md-4 col-lg-3 mb-5">


                    <div class="card m-1 " style="width: auto; height: 100%;">

                        <h5 class="card-title text-center m-3">
                            <%=eachProduct.name%>
                        </h5><span
                            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">NEW</span>

                        <div class="card-img-container mb-6">
                            <img src="<%=eachProduct.image%>" class="card-img-top p-3 " alt="...">
                        </div>
                        <div class="card-body">

                            <a href="/products/<%=eachProduct._id%>" class="btn btn-outline-success">Learn More</a>
                        </div>

                    </div>



                </div>


                <% } %>


        </div>



    </section>   