<% layout('layouts/boilerplate.ejs') %>


    <!-- try this carousel later https://codepen.io/aholics/pen/BPMNej -->

    <!-- Banner -->
    <section class="product-details-banner">
        <img class="img-fluid" src="https://s.alicdn.com/@sc01/kf/H47073396e9d8492c839f72b80f3df626p.jpg" alt="">
    </section>

    <!-- Carousel -->
    <section class="productDetails">
        <div class="container">
            <div class="row">
                <div class="col col-md-6">

                    <!-- Carousel WRAPER -->
                    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">


                        <!-- Carousel inner part pictures -->
                        <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="10000">
                                <img src="/images/mukuta7.png" class="d-block w-100" alt="...">
                            </div>

                            <div class="carousel-item" data-bs-interval="2000">
                                <img src="/images/mukuta8.png" class="d-block w-100" alt="...">
                            </div>

                            <div class="carousel-item">
                                <img src="/images/mukuta9.png" class="d-block w-100" alt="...">
                            </div>

                            <div class="carousel-item">
                                <img src="/images/mukuta9.png" class="d-block w-100" alt="...">
                            </div>

                        </div>


                        <!-- Carousel thumbnails -->
                        <div class="carousel-indicators  ">

                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1">
                                <img src="/images/mukuta7.png" class="d-block w-100" alt="...">
                            </button>

                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                                aria-label="Slide 2">
                                <img src="/images/mukuta8.png" class="d-block w-100" alt="...">
                            </button>


                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                                aria-label="Slide 3">
                                <img src="/images/mukuta9.png" class="d-block w-100" alt="...">
                            </button>


                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3"
                                aria-label="Slide 4">
                                <img src="/images/mukuta7.png" class="d-block w-100" alt="...">
                            </button>

                        </div>




                        <!-- Carousel controller -->
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>





                    </div>
                </div>

                <div class="col cold-md-6">
                    <h1>MUKUTA 10 Plus Electric Scooter, 2800W Dual Motor, 62/74 Miles Range, 10 Inches Off-Road Tire
                        Scooter</h1>
                    <img src="/images/mukuta10plus/showcase/specs.png" class="d-block w-100" alt="">
                </div>
            </div>

    </section>





    <!-- Collage -->

    <section class="product-details-collage">
        <div class="container">
            <div class="row" id="row1">
                <div class="col-6">
                    <div class="image-container">
                        <img class="img-fluid"
                            src="https://www.mukutariding.com/cdn/shop/files/4.jpg?v=1676356266&width=750" alt="">
                        <div class="text-overlay" id="text1">
                            <div>4.5-inch</div>
                            <div>LCD display</div>
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="image-container">
                        <img class="img-fluid"
                            src="https://www.mukutariding.com/cdn/shop/files/5_3.jpg?v=1676354869&width=1000" alt="">
                        <div class="text-overlay" id="text2">
                            <div>Front And Rear</div>
                            <div>Turn Signals</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row" id="row2">
                <div class="col-4">
                    <div class="image-container">
                        <img class="img-fluid"
                            src="https://www.mukutariding.com/cdn/shop/files/1_1.jpg?v=1676354819&width=750" alt="">
                        <div class="text-overlay" id="text3">
                            <div>2800W</div>
                            <div style="font-size: 15px ;">Max Power</div>

                        </div>

                    </div>
                </div>
                <div class="col-4">
                    <div class="image-container">
                        <img class="img-fluid"
                            src="https://www.mukutariding.com/cdn/shop/files/3_3.jpg?v=1676354858&width=1000" alt="">
                        <div class="text-overlay" id="text4">330LB Max Load </div>
                    </div>

                </div>
                <div class="col-4">
                    <div class="image-container">
                        <img class="img-fluid"
                            src="https://www.mukutariding.com/cdn/shop/files/5_2.jpg?v=1676354869&width=1000" alt="">
                        <div class="text-overlay" id="text5"> Sexy Taillights </div>

                    </div>
                </div>
            </div>

    </section>

    <!-- Video -->
    <section class="product-details-video1">

        <video src=" /images/mukuta10plus/video/mukuta10plus.mp4" type="video/mp4" loop autoplay muted "></video>

    </section>
    


    <!-- Product lights -->
    <h1>TEST</h1>

    <section class=" product-details-lights">
            <div class="text">
                <div class="head"> Ride safely at night</div>
                <div class="description"> With vehicle powered 2 LED Front and Deck lights, short press the power button
                    below the display to turn on the front light. You can also set up the tail light to stay always safe
                    during night rides.</div>
            </div>

            <div class="image-container">
                <img class="img-fluid" src="https://www.mukutariding.com/cdn/shop/files/5_4.jpg?v=1676354858&width=1000"
                    alt="">
                <img class="img-fluid" src="https://www.mukutariding.com/cdn/shop/files/5_1.jpg?v=1676354858&width=1000"
                    alt="">

            </div>

    </section>



    <!-- Owl carousel 2 -->

    <section class="product-details-owl-carousel">
        <div class="text-container">
            <div class="text">
                <h1 class="title">Larger scooter, more comfort</h1>
                <div class="description">
                    Mukuta Electric Scooter 10 Pro has a wider and higher handlebar and a larger deck, offering an
                    improved riding experience.</div>
            </div>
        </div>

        <div class="owl-carousel owl-theme">
            <div class="item">
                <img src="https://i02.appmifile.com/mi-com-product/fly-birds/xiaomi-electric-scooter-4-ultra/pc/img05-2.png"
                    alt="">

            </div>
            <div class="item">
                <img src="https://i02.appmifile.com/878_operator_sg/08/03/2023/6ced0248a7b24041dc85eb81982f00e1.jpg"
                    alt="">

            </div>
            <div class="item">
                <img src="https://i02.appmifile.com/mi-com-product/fly-birds/xiaomi-electric-scooter-4-ultra/pc/img05-1.jpg"
                    alt="">
            </div>



        </div>
    </section>


    <!-- BMS Battery -->
    <div class="product-retails-BMS-battery">
        <div class="container-fluid">
            <div class="image">
                <img class="img-fluid" src="https://i02.appmifile.com/mi-com-product/fly-birds/xiaomi-electric-scooter-4-go/pc/6c6695f47fab483ff05a375cb2c28c35.jpg?f=webp"
                    alt="">
            </div>
            <div class="body">
                <div class="text">
                    <div class="title">
                        Intelligent Battery Management System (BMS)

                    </div>
                    <div class="description">
                        The Intelligent Battery Management System (BMS) is designed to continuously track the battery's operational status, providing six primary intelligent safeguards, including over-charge, over-discharge, overheat, and overcurrent protections. These measures extend the battery life of the scooter and ensure safety during your ride.

                    </div>
                </div>
                <div class="features">
                    <div class="row">
                        <div class="col-4">
                            <div class="img-container"><img src="https://i02.appmifile.com/mi-com-product/fly-birds/xiaomi-electric-scooter-4-go/pc/ff2ee7002514f917c821065312496e05.png?f=webp" alt=""></div>
                            <div class="feature-name">Short circuit protection
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="img-container"><img src="https://i02.appmifile.com/mi-com-product/fly-birds/xiaomi-electric-scooter-4-go/pc/7c78c0345328ec9f183f8c4c90d12c99.png?f=webp" alt=""></div>
                            <div class="feature-name">Overcurrent protection
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="img-container"><img src="https://i02.appmifile.com/mi-com-product/fly-birds/xiaomi-electric-scooter-4-go/pc/1c60708b9ae77244a8935ded787cf04f.png?f=webp" alt=""></div>
                            <div class="feature-name">Over-discharge protection
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="img-container"><img src="https://i02.appmifile.com/mi-com-product/fly-birds/xiaomi-electric-scooter-4-go/pc/c733a080f14532e59082dd0b1d1e2601.png?f=webp" alt=""></div>
                            <div class="feature-name">Over-charge protection
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="img-container"><img src="https://i02.appmifile.com/mi-com-product/fly-birds/xiaomi-electric-scooter-4-go/pc/b41fa77193a3a4411536fd480435a897.png?f=webp" alt=""></div>
                            <div class="feature-name">Over-temperture protection
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="img-container"><img src="https://i02.appmifile.com/mi-com-product/fly-birds/xiaomi-electric-scooter-4-go/pc/c5065aaece1d3337f8b54e47f35d1cec.png?f=webp" alt=""></div>
                            <div class="feature-name">Undervoltage protection
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- THREE CARDS LAYOUT TEST -->
    <div class="product-details-three-layout">
        <div class="container">
            <div class="row" id="row0">
                <div> World class quality battery</div>
                <div> 60V 20.8AH/25.6AH Battery </div>
            </div>


            <div class="row" id="row1">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-5">
                            <img src="https://www.mukutariding.com/cdn/shop/files/2_1.jpg?v=1676354859&width=1000"
                                class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <h5 class="card-title">Independent Suspension </h5>
                                <p class="card-text"> The front and rear independent suspension can absorb the bumps
                                    greatly and keep the gravity stable. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" id="row2">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-5">
                            <img src="https://www.mukutariding.com/cdn/shop/files/2_2.jpg?v=1676354879&width=1000"
                                class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <h5 class="card-title">Single/Dual Motor </h5>
                                <p class="card-text">Save battery power by shifting to the eco single motor drive
                                    mode
                                    or enjoy maximum potential using the high-performance dual motor ride mode to
                                    conquer the elements. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" id="row3">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-5">
                            <img src="https://www.mukutariding.com/cdn/shop/files/2_3.jpg?v=1676354859&width=1000"
                                class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <h5 class="card-title">16 x 8 lithium-ion</h5>
                                <p class="card-text">MUKUTA with 128 units high energy density 18650 lithium-ion
                                    battery. it's able to reach up to 62/74 miles long-distance riding. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Cloning Mukata -->

    <section class=" part1">
        <h5 class="text-center"> MUKUTA 10 Plus Description </h5>
        <!-- Test with Cards -->
        <div class="container" id="row1">
            <h2>1400Wx2 Brushless Motors
            </h2>
            <div class="row">
                <div class="col-md-4" id="column">
                    <div class="card">
                        <img src="https://www.mukutariding.com/cdn/shop/files/1_1.jpg?v=1676354819&width=750"
                            alt="Image 2" class="img-fluid">
                        <div class="card-body">

                            <h5 class="card-title">2800W Rated Power
                            </h5>
                            <p class="card-text">Dual brushless 1400W motors that offer a top speed of 46mph.


                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" id="column">
                    <div class="card">
                        <img src="https://www.mukutariding.com/cdn/shop/files/1_2.jpg?v=1676354855&width=750"
                            alt="Image 2" class="img-fluid">
                        <div class="card-body">

                            <h5 class="card-title">32A Sine Wave Controllers
                                2</h5>
                            <p class="card-text">Strong power support climb up to 30 degrees slopes tackle all
                                terrains easily.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" id="column">
                    <div class="card">
                        <img src="https://www.mukutariding.com/cdn/shop/files/1_3.jpg?v=1676354857&width=750"
                            alt="Image 3" class="img-fluid">
                        <div class="card-body">

                            <h5 class="card-title">Single/Dual Motor
                            </h5>
                            <p class="card-text">Save battery power by shifting to the eco single motor drive
                                mode or enjoy maximum potential using the high-performance dual motor ride mode
                                to conquer the elements.

                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <section>
                <div class="container">
                    <h2>1400Wx2 Brushless Motors</h1>
                        <div class="row">
                            <div class="col-md-4">
                                <img class="img-fluid"
                                    src="https://www.mukutariding.com/cdn/shop/files/1_1.jpg?v=1676354819&width=400"
                                    alt="">
                                <h4>2800W Rated Power</h4>
                                <div>
                                    Dual brushless 1400W motors that offer a top speed of 46mph.
                                </div>
                            </div>

                            <div class="col-md-4">
                                <img class="img-fluid"
                                    src="https://www.mukutariding.com/cdn/shop/files/1_2.jpg?v=1676354855&width=400"
                                    alt="">
                                <h4>32A Sine Wave Controllers</h4>
                                <div>
                                    Strong power support climb up to 30 degrees slopes tackle all terrains
                                    easily.
                                </div>
                            </div>

                            <div class="col-md-4">
                                <img class="img-fluid"
                                    src="https://www.mukutariding.com/cdn/shop/files/1_3.jpg?v=1676354857&width=400"
                                    alt="">
                                <h4>Single/Dual Motor</h4>
                                <div>
                                    Save battery power by shifting to the eco single motor drive mode or enjoy
                                    maximum
                                    potential
                                    using the high-performance dual motor ride mode to conquer the elements.
                                </div>
                            </div>
                        </div>
                </div>


                <div class="container">
                    <h2> 60V 20.8AH/25.6AH Battery </h2>
                    <div class="row">
                        <div class="col-md-4">
                            <img class="img-fluid"
                                src="https://www.mukutariding.com/cdn/shop/files/2_1.jpg?v=1676354859&width=1000"
                                alt="">
                            <h4>16 x 8 lithium-ion</h4>
                            <div>
                                MUKUTA with 128 units high energy density 18650 lithium-ion battery. it's able
                                to reach
                                up
                                to
                                62/74 miles long-distance riding.
                            </div>
                        </div>

                        <div class="col-md-4">
                            <img class="img-fluid"
                                src="https://www.mukutariding.com/cdn/shop/files/2_2.jpg?v=1676354879&width=1000"
                                alt="">
                            <h4>2 Charging Ports
                            </h4>
                            <div>
                                Reduce charging time by half with 2 chargers.


                            </div>
                        </div>

                        <div class="col-md-4">
                            <img class="img-fluid"
                                src="https://www.mukutariding.com/cdn/shop/files/2_3.jpg?v=1676354859&width=1000"
                                alt="">
                            <h4>Intelligent Temperature Control
                            </h4>
                            <div>
                                A smart battery management system indicates the health of a battery and protects
                                the
                                battery
                                while in operation.


                            </div>
                        </div>
                    </div>
                </div>


                <div class="container">
                    <h2>Quadruple Spring

                    </h2>
                    <div class="row">
                        <div class="col-md-4">
                            <img class="img-fluid"
                                src="https://www.mukutariding.com/cdn/shop/files/3_1.jpg?v=1676354858&width=1000"
                                alt="">
                            <h4>Quadruple Spring
                            </h4>
                            <div>
                                4 Springs absorption makes your riding safer and more comfortable.


                            </div>
                        </div>

                        <div class="col-md-4">
                            <img class="img-fluid"
                                src="https://www.mukutariding.com/cdn/shop/files/3_2.jpg?v=1676354858&width=1000"
                                alt="">
                            <h4>Independent Suspension
                            </h4>
                            <div>
                                The front and rear independent suspension can absorb the bumps greatly and keep
                                the
                                gravity
                                stable.


                            </div>
                        </div>

                        <div class="col-md-4">
                            <img class="img-fluid"
                                src="https://www.mukutariding.com/cdn/shop/files/3_3.jpg?v=1676354858&width=1000"
                                alt="">
                            <h4>Max Load
                            </h4>
                            <div>
                                The high-quality suspension system gives the scooter the maximum load of 330lbs.


                            </div>
                        </div>
                    </div>
                </div>


                <div class="container">
                    <h2>Dual Hydraulic Brake


                    </h2>
                    <div class="row">
                        <div class="col-md-4">
                            <img class="img-fluid"
                                src="https://www.mukutariding.com/cdn/shop/files/4_1.jpg?v=1676354858&width=1000"
                                alt="">
                            <h4>Dual Hydraulic Brake
                            </h4>
                            <div>
                                Hydraulic disc brakes provide the most powerful stopping ability, making them
                                the best
                                for
                                safety.


                            </div>
                        </div>

                        <div class="col-md-4">
                            <img class="img-fluid"
                                src="https://www.mukutariding.com/cdn/shop/files/4_2.jpg?v=1676354857&width=1000"
                                alt="">
                            <h4>145 MM Brake Disc
                            </h4>
                            <div>
                                The 145mm disc brake make for ultra short braking distance with very little
                                effort , it
                                is
                                easier to replace and more effective than drum brakes.


                            </div>
                        </div>

                        <div class="col-md-4">
                            <img class="img-fluid"
                                src="https://www.mukutariding.com/cdn/shop/files/4_3.jpg?v=1676354858&width=1000"
                                alt="">
                            <h4>Longer Lifespan
                            </h4>
                            <div>
                                Disc brakes dissipate heat thoroughly, the sealed system works well in any
                                riding
                                conditions.


                            </div>
                        </div>
                    </div>
                </div>

                <!-- 
                    <div class="container">
                        <h2>Light The Way </h2>
                        <div class="row">
                            <div class="col-md-3">
                                <img class='img-fluid'
                                    src="https://www.mukutariding.com/cdn/shop/files/5_1.jpg?v=1676354858&width=1000"
                                    alt="">
                                <h4>
                                    2 LED Front Lights

                                </h4>
                                <div>
                                    Provides greater lighting range, help you see the road clearly.


                                </div>
                            </div>

                            <div class="col-md-3">
                                <img class='img-fluid'
                                    src="https://www.mukutariding.com/cdn/shop/files/5_2.jpg?v=1676354869&width=1000"
                                    alt="">
                                <h4>
                                    Taillight

                                </h4>
                                <div>
                                    Remind others, making you more visible to ride at night.


                                </div>
                            </div>

                            <div class="col-md-3">
                                <img class='img-fluid'
                                    src="https://www.mukutariding.com/cdn/shop/files/5_3.jpg?v=1676354869&width=1000"
                                    alt="">
                                <h4>
                                    Front And Rear Turn Signals

                                </h4>
                                <div>
                                    Front and rear turn signals.


                                </div>
                            </div>

                            <div class="col-md-3">
                                <img class='img-fluid'
                                    src="https://www.mukutariding.com/cdn/shop/files/5_4.jpg?v=1676354858&width=1000"
                                    alt="">
                                <h2>
                                    Deck lights

                                </h2>
                                <div>
                                    Ensure you remain visible from more than one angle.


                                </div>
                            </div>
                        </div>
                    </div>

                </section>
 -->



            </section>




            <div class="container">
                <div class="card mb-3" style="max-width: ;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-6">
                            <img src="https://www.mukutariding.com/cdn/shop/files/1.jpg?v=1676356266&width=535"
                                class="img-fluid rounded-start" alt="..." style="height: 100%; width: 100%;">
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="card-body" style="padding:15%">
                                <h4 class="card-title"> Quick Folding Stem </h4>
                                <p class="card-text">New highly secured quick locked foldable stem, say goodbye to
                                    wobbly handlebars.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- testing orders -->
        <div class="container">
            <div class="card">
                <div class="row">
                    <!-- Card Image Column (on the right for larger screens) -->
                    <div class="col-md-6 order-md-2">
                        <img src="https://www.mukutariding.com/cdn/shop/files/1.jpg?v=1676356266&width=750"
                            class="card-img-top img-fluid" alt="..." style="height: 100%; width: 100%;">
                    </div>
                    <!-- Card Body Column (on the left for larger screens) -->
                    <div class="col-md-6 order-md-1">
                        <div class="card-body d-flex flex-column align-items-center " style="padding:15%">
                            <h4 class="card-title"> Quick Folding Stem </h4>
                            <p class="card-text">New highly secured quick locked foldable stem, say goodbye to
                                wobbly handlebars.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="container">
            <div class="card mb-3" style="max-width: ;">
                <div class="row g-0">

                    <div class="col-md-6 col-lg-6 ">
                        <div class="card-body" style="padding:15%">
                            <h4 class="card-title">Folding Handle
                            </h4>
                            <p class="card-text">
                                Portable and powerful, with a compact folded footprint of 48” long by 9.3” wide by
                                22.4” tall.


                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <img src="https://www.mukutariding.com/cdn/shop/files/2.jpg?v=1676356266&width=750"
                            class="img-fluid rounded-start" alt="..." style="height: 100%; width: 100%;">
                    </div>
                </div>
            </div>
        </div>



        <div class="container">
            <div class="card mb-3" style="max-width: ;">
                <div class="row g-0">
                    <div class="col-md-6 col-lg-6">
                        <img src="https://www.mukutariding.com/cdn/shop/files/3.jpg?v=1676356266&width=750"
                            class="img-fluid rounded-start" alt="..." style="height: 100%; width: 100%;">
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="card-body" style="padding:15%">
                            <h4 class="card-title">Controller BMS
                            </h4>
                            <p class="card-text">
                                The Controllers feature overload protection. should the controller temperature
                                exceed the safety threshold, the management system will enter Auto protection.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>





        <div class="container">
            <div class="card mb-3" style="max-width: ;">
                <div class="row g-0">

                    <div class="col-md-6 col-lg-6">
                        <div class="card-body" style="padding:15%">
                            <h4 class="card-title">
                                <div>4.5-inch</div> LCD display
                            </h4>
                            <p class="card-text">
                                Customize your ride preferences with intuitive and informative LCD display. keep
                                your ride secure with the NFC key card lock.


                            </p>
                        </div>

                    </div>
                    <div class="col-md-6 col-lg-6">
                        <img src="https://www.mukutariding.com/cdn/shop/files/4.jpg?v=1676356266&width=750"
                            class="img-fluid rounded-start" alt="..." style="height: 100%; width: 100%;">
                    </div>
                </div>
            </div>
        </div>



        <div class="container">
            <div class="card mb-3" style="max-width: ;">
                <div class="row g-0">
                    <div class="col-md-6 col-lg-6">
                        <img src="https://www.mukutariding.com/cdn/shop/files/5.jpg?v=1676356265&width=750"
                            class="img-fluid rounded-start" alt="..." style="height: 100%; width: 100%;">
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="card-body" style="padding:15%">
                            <h4 class="card-title">High dB Horn
                            </h4>
                            <p class="card-text">
                                MUKUTA is equipped with 110 dB electronic speakers, the sound is louder.


                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="container">
            <div class="card mb-3" style="max-width: ;">
                <div class="row g-0">

                    <div class="col-md-6 col-lg-6">
                        <div class="card-body" style="padding:15%">
                            <h4 class="card-title">Anti-Skid Deck
                            </h4>
                            <p class="card-text">
                                Deck rubber mat, non-slip, easy to clean, long service life.


                            </p>
                        </div>

                    </div>
                    <div class="col-md-6 col-lg-6">
                        <img src="https://www.mukutariding.com/cdn/shop/files/6.jpg?v=1676356266&width=750"
                            class="img-fluid rounded-start" alt="..." style="height: 100%; width: 100%;">
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="card mb-3" style="max-width: ;">
                <div class="row g-0">
                    <div class="col-md-6 col-lg-6">
                        <img src="https://www.mukutariding.com/cdn/shop/files/7.jpg?v=1676356266&width=750"
                            class="img-fluid rounded-start" alt="..." style="height: 100%; width: 100%;">
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="card-body" style="padding:15%">
                            <h4 class="card-title">Front & Rear Fenders
                            </h4>
                            <p class="card-text">The angle can be adjusted freely to prevent mud splashing to the
                                rider.


                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="container">
            <div class="card mb-3" style="max-width: ;">
                <div class="row g-0">

                    <div class="col-md-6 col-lg-6">
                        <div class="card-body" style="padding:15%">
                            <h4 class="card-title"> Off-Road Tires
                            </h4>
                            <p class="card-text">10 Inches Pneumatic Off-Road Tires anti-skid performance and high
                                control sensitivity, take you to go off-road riding freely.


                            </p>
                        </div>

                    </div>
                    <div class="col-md-6 col-lg-6">
                        <img src="https://www.mukutariding.com/cdn/shop/files/8.jpg?v=1676356266&width=750"
                            class="img-fluid rounded-start" alt="..." style="height: 100%; width: 100%;">
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="container">
        <div class="card mb-3" style="max-width: ;">
            <div class="row g-0">
                <div class="col-md-6 col-lg-6">
                    <img src="https://www.mukutariding.com/cdn/shop/files/9.png?v=1676356266&width=750"
                        class="img-fluid rounded-start" alt="..." style="height: 100%; width: 100%;">
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="card-body" style="padding:15%">
                        <h4 class="card-title">Aluminum Alloy Frame
                        </h4>
                        <p class="card-text">Aviation-grade 6061/6082 aluminum alloy frame is forged in one
                            piece.
                            new colors and stylish geometric designs to compliment the powerful performance.

                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>







    <section class="test" id="test">
        <div class="container">
            <div class="card " id="card1">
                <div class="row g-0">
                    <div class="col-md-6 col-lg-6" id="img1-1">
                        <img id="img1" src="https://www.mukutariding.com/cdn/shop/files/7.jpg?v=1676356266&width=750"
                            class="img-fluid" alt="..." style="height: 100%; width: 100%;">
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="card-body" ">
                    <h4 class=" card-title">Front & Rear Fenders
                            </h4>
                            <p class="card-text">The angle can be adjusted freely to prevent mud splashing to the
                                rider.


                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="container">
            <div class="card " id="card2">
                <div class="row g-0">

                    <div class="col-md-6 col-lg-6">
                        <div class="card-body" ">
                    <h4 class=" card-title"> Off-Road Tires
                            </h4>
                            <p class="card-text">10 Inches Pneumatic Off-Road Tires anti-skid performance and high
                                control sensitivity, take you to go off-road riding freely.


                            </p>
                        </div>

                    </div>
                    <div class="col-md-6 col-lg-6" id="img2-1">
                        <img id="img2" src="https://www.mukutariding.com/cdn/shop/files/8.jpg?v=1676356266&width=750"
                            class="img-fluid" alt="..." style="height: 100%; width: 100%;">
                    </div>
                </div>
            </div>
        </div>
    </section>







    <section style="margin-top: 1000px;">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <img src="https://www.mukutariding.com/cdn/shop/files/4_2.jpg?v=1676354857&width=1000"
                                alt="Image 1" class="img-fluid">
                            <h5 class="card-title">Product 1</h5>
                            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                Delectus
                                minima eveniet odio saepe fugit dolorem quam dolor quo porro vero, possimus
                                earum
                                expedita perspiciatis ducimus neque. Minima praesentium soluta itaque?.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <img src="https://www.mukutariding.com/cdn/shop/files/4_1.jpg?v=1676354858&width=1000"
                                alt="Image 2" class="img-fluid">
                            <h5 class="card-title">Product 2</h5>
                            <p class="card-text">Description for Product 2lorem Lorem ipsum dolor sit amet
                                consectetur
                                adipisicing elit. Mollitia, illum. Earum eaque minus iste, explicabo illo
                                voluptatibus,
                                modi perferendis sequi dolor mollitia neque est ea ut dicta sint ipsam
                                quisquam!.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <img src="https://www.mukutariding.com/cdn/shop/files/1_3.jpg?v=1676354857&width=400"
                                alt="Image 3" class="img-fluid">
                            <h5 class="card-title">Product 3</h5>
                            <p class="card-text">Description for Product Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Dolore pariatur quo modi qui autem accusamus, voluptatum at
                                veniam
                                animi ad tenetur consequuntur non accusantium quod provident aliquam sunt
                                voluptatibus
                                eos. 3.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Write a review button to open form modal -->
    <div class="product-details-write-reviews">
        <h1>Reviews</h1>
        <button class="btn-success" id="write-review-btn">Write a review</button>
    </div>

    <!-- Form modal -->
    <%- include('./partials/reviewform.ejs') %>

        <!-- View all reviews submitted by users -->
        <section class="product-details-view-reviews">

            <% for(let eachReview of product.reviews){%>

                <div class="card" ">
        <img src="" class=" card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Name: <%=eachReview.name%>
                        </h5>
                        <div> Rating: <span style="color: #ff9c1a;letter-spacing: 3px;"> <%-
                                    getStarIcons(eachReview.rating) %> </span> </div>
                        <p class="card-text"> Comments <%=eachReview.body%>
                        </p>
                    </div>
                    <%}%>
        </section>