/* Common */
body {
    /* background-image: url('https://i02.appmifile.com/mi-com-product/fly-birds/xiaomi-electric-scooter-4-go/pc/fef33f3db7efa457e1d8584d02b13d5f.jpg?f=webp'); */
    background-color: #f3f3f3;
    font-family: 'Montserrat';

}

/* .btn{
    background-color: #FFCF00 !important;
    color: black  !important;
    border: #FFCF00 !important;
} */


/**************** NAV BAR *****************/
/* .navbar {
    background-color: #f5ebebec !important;

} */


/**************** HOME PAGE /*****************/

/* Carousel */
/* .homepage-carousel {
    height: 550px;
} */

.homepage-carousel .btn {
    background-color: white;
    color: black;
    border-color: transparent;

}

/* .homepage-carousel .carousel-inner img {
    object-fit: contain !important;
    ;
    width: 100% !important;
    height: 550px
} */



/* Hero section */

/* .homepage-hero {
    background-image: url('https://images.unsplash.com/photo-1541614705297-1cec36271936?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
} */

.homepage-hero {
    position: relative;
}

.homepage-hero .body {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: rgba(0, 0, 0, 0);
    /* You can adjust the background color and opacity */
    color: black;
    /* Text color */
    padding: 20px;
    /* Add padding to the text */
    box-sizing: border-box;
    padding-bottom: 200px;
}




.homepage-hero .body .brand {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 50%;
}

.homepage-hero .body .text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40%;
    width: 80%;
    text-align: left;
}

.homepage-hero .body .text .title {
    font-size: 50px;
    padding-bottom: 30px;
}

.homepage-hero .body .text .description {
    width: 80%;
    font-size: 20px;
}

.homepage-hero .body .text .btn {
    margin-top: 50px;
    width: 30%;

}

/* Why Us? */
.why-us {
    padding-top: 50px;
    padding-bottom: 80px;
    margin-bottom: 30px;
}


.why-us .title {
    text-align: center;
}

.why-us h5 {
    padding-bottom: 10px;
}

.why-us h1 {
    font-weight: bold;
    padding-bottom: 20px
}

.why-us .each-logo {
    display: flex;
    flex-direction: row;
}

.why-us .each-logo .text {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.why-us .each-logo .logo {
    padding: 20px;
}

.why-us .each-logo img {
    width: 100px;
}


/* PRODUCT LIST */
.homepage-our-products .title {
    text-align: center;
}
.homepage-our-products .title h1{
    font-weight: bold;
}

.homepage-our-products .title  h5{

    font-weight: bold;
  line-height: 21px;
  letter-spacing: 0.35em;
  text-transform: uppercase;
  color: #C0C0C0;
  padding-bottom: 10px;
}

.homepage-our-products .container {
    padding-left: 5%;
    padding-right: 5%;
}

.homepage-our-products .container .item {
    /* padding-left: 20px;
    padding-right: 20px; */
    padding: 20px;
}

.homepage-our-products .container .product-image img {
    /* object-fit: contain; */
    padding: 10px;
}


.homepage-our-products .all-products {
    padding: 40px;
    display: flex;
    justify-content: center;
}

.homepage-our-products .all-products .btn {
    font-weight: bold;
    width: 200px;


}

/* .homepage-our-products .card .product-details{
    padding-bottom: 20px;
} */

.homepage-our-products .card .icons {
    display: flex;
    font-size: 10px;
}

.homepage-our-products .card .icons .speed {
    display: flex;
    align-items: center;
    padding-right: 10px;
}


.homepage-our-products .card .icons .speed span,
.homepage-our-products .card .icons .distance span {
    padding-left: 5px;
}




.homepage-our-products .card .icons .distance {
    display: flex;
    align-items: center;
    padding-left: 10px;

}

.homepage-our-products .card .icons img {
    width: 30px;
    height: 30px;
}

.homepage-our-products .card .shipping {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.homepage-our-products .card .shipping img {
    width: 30px;
    height: 30px;
}

.homepage-our-products .card .product-model {
    font-size: 16px;
    font-weight: bold;

}

.homepage-our-products .card .price {
    font-weight: bold;
    color: #fc3828;
    font-size: 16px;
    line-height: 19px;
}




/* Hover + shadow effects for cards */
.homepage-our-products .card {


    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 18px;
    background: white;
}

.homepage-our-products .item:hover .card {
    transform: scale(1.1);
    transition: transform .15s ease-in-out;
}


.homepage-our-products .card .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.homepage-our-products .card .card-body .btn {
    width: 60%;
}



/* Slick arrows and dots */
.homepage-our-products .slick-next {
    /* right: 55px; */
    right: 20px;
}

.homepage-our-products .slick-prev {
    /* left: 26px; */
    left: -10px;
}

.homepage-our-products .slick-prev::before,
.homepage-our-products .slick-next::before {
    font-size: 50px;
}


.homepage-our-products .slick-next::before,
.homepage-our-products .slick-prev::before {
    /* color: #ffcf00 */
    color: darkgray;
}


.homepage-our-products .slick-dots {
    left: 0px;
}






#homepage-card-body-all-products-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




/* OUR OWN TESTING */
.homepage-our-testing {
    padding-bottom: 350px;
}

.homepage-our-testing .video-icons-text {
    position: relative;
}

.homepage-our-testing .icons-text {
    position: absolute;
    top: 80%;
}

.homepage-our-testing .video-text {
    /* position: relative; */
    padding-bottom: 50px;

}


.homepage-our-testing .video-text .video {}

.homepage-our-testing .video-text .video iframe {



    width: 100%;
    height: 100%;
    aspect-ratio: 5/4;


    /* width: 720px;
    height: 400px; */

    /* -webkit-mask-image: url('https://www.maxblinker.com/themes/panda/img/icon/bublina2obsah.svg'); */

    -webkit-mask-image: url('https://res.cloudinary.com/dashjv0yt/image/upload/v1696864447/VetStore/homepage/our-own-testing/video-mask-svg_igjtrn.svg');

    /* -webkit-mask-image: url('https://res.cloudinary.com/dashjv0yt/image/upload/v1696950178/VetStore/homepage/our-own-testing/Vector_hdjjss.svg'); */
    -webkit-mask-size: 80%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;


}

.homepage-our-testing .video-text .text {
    line-height: 180% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.homepage-our-testing .video-text .text .sub-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 21px;
    ;
    letter-spacing: 0.35rem;
    padding-bottom: 10px;
    color: #C0C0C0;
}

.homepage-our-testing .video-text .text .title {
    font-size: 50px;
    font-weight: 800;
    line-height: 120%;
    margin-bottom: 30px;

}

.homepage-our-testing .video-text .text .text {
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;


}

.homepage-our-testing .video-text .text .text span {
    font-weight: bold;
}



.homepage-our-testing .icons-text .card {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    width: 98%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}


/* .homepage-our-testing .icons-text .card-wrapper{
    padding-left: 20px;   
    padding-right: 20px; 
} */



.homepage-our-testing .icons-text .card-wrapper:hover .card {
    transform: scale(1.1);
    transition: transform .15s ease-in-out;
}

.homepage-our-testing .icons-text .card .card-body {
    padding: 0;
    padding-top: 10px
}

.homepage-our-testing .icons-text .card .card-body .card-title {
    font-size: 18;
    font-weight: bold;
    line-height: 125%;
    hyphens: auto;

}

.homepage-our-testing .icons-text .card .card-body .card-text {
    font-size: 14px;
    font-weight: 100;
    line-height: 23px;
    hyphens: auto;

}


.homepage-our-testing .icons-text {

    padding-left: 50px;
    padding-right: 50px;

}

.homepage-our-testing .icons-text img {
    height: 60px;
    width: 60px;
}














/* Partners */
/* Testing new partners carousel */

.partners {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 80px;
    margin-bottom: 30px;

}

.partners .slick-slide {
    display: flex;
    justify-content: center;
}


.partners .text {
    font-size: 40px;
    margin-bottom: 50px;
    font-weight: 600;


}


.partners-carousel-new {
    display: flex;
    justify-content: center;
}


.partners-carousel-new {
    display: flex;
    justify-content: center;

}



.partners-carousel-new img {
    width: 160px;
    height: 160px;
}




/* Customer reviews - Slick carousel */
/* Defines the width of the carousel and centers it on the page */
.homepage-customer-reviews {
    padding-bottom: 80px;
    margin-bottom: 30px;
}

.homepage-customer-reviews .slick-carousel-customer-reviews {
    margin: 0 auto;
    width: 90%;
}

/* The width of each slide */
.homepage-customer-reviews .slick-slide {
    width: 350px;
}

/* Color of the arrows */
.homepage-customer-reviews .slick-next::before,
.homepage-customer-reviews .slick-prev::before {
    color: black
}


.homepage-customer-reviews .slick-slide .card-img-top {
    height: 300px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

.homepage-customer-reviews .card ul {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.homepage-customer-reviews .card li {
    text-align: center;
}


.homepage-customer-reviews .card {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* .homepage-customer-reviews .list-group-item-2  {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
} */



.homepage-customer-reviews .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 20px;

    height: 600px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;


}

.homepage-customer-reviews .card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.homepage-customer-reviews .card .card-body .user div {
    font-weight: bold;
}

.homepage-customer-reviews .card ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.homepage-customer-reviews .title {
    font-size: 30px;
    text-align: center;
    padding: 20px;
    font-weight: bold;
}

/* Visit us! */
.homepage-find-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 30px;

}

.homepage-find-us .head {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.homepage-find-us .head h1 {
    padding-bottom: 10px;
    font-weight: bold;
}


.homepage-find-us .info {
    display: flex;
    flex-direction: row;
    align-items: space-between;
}







/* Animation */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7));
    }
}

/* Styling */
.slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.slider .slide-track {
    animation: scroll 40s linear infinite;
    /* $animationSpeed is replaced with the actual value */
    display: flex;
    width: calc(250px * 14);
}

.slider .slide {
    height: 100px;
    width: 250px;
}













/* Testing Row 1 */
#row1 .card {
    height: 100%;
    display: flex;

}

/* 

@media (max-width: 576px){
    #row1 .card {
        display: flex;
        flex-direction: column-reverse;
    }
} */


/**************** PRODUCT LIST /*****************/
.product-details-product-list {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 5%
}

.product-details-product-list h1 {
    margin-bottom: 50px;
}








/**************** PRODUCT DETAILS /*****************/

/* MUKUTA 10 plus*/

/* Carousel for Product Details*/


.productDetails .carousel-indicators {
    position: static;
    margin-bottom: 50px;

}

.productDetails .carousel-indicators .active {
    height: 100%;

}

.productDetails .productDetails .carousel-indicators button {
    margin-top: 50px;
    margin-bottom: 140px;
}

.productDetails .carousel-dark .carousel-indicators [data-bs-target] {
    background-color: transparent;
}

.productDetails .carousel-indicators button[data-bs-target] {
    width: 200px;
    background-color: transparent;
}

.productDetails .container {
    margin-top: 5%;

}


/* Product details collage */
.product-details-collage {
    margin-top: 50px;
}

.product-details-collage .container {
    padding: 5px
}

.product-details-collage .row {
    margin: 5px;
}


.product-details-collage .container #row1 {
    display: flex;
    align-items: center;
    width: 100%;
}

.product-details-collage .container #row2 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 120%;
}

.product-details-collage .container #row2 img {
    height: 120%;
}

.product-details-collage .container img {
    border-radius: 15px;
}

.product-details-collage .image-container {
    position: relative;
}

.product-details-collage .text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    /* Text color */
    padding: 10px;
    /* Adjust padding as needed */
    font-weight: bolder;
    font-size: 20px;
}


.product-details-collage #text2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}


.product-details-collage #text4 {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.product-details-collage #text5 {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 100%;
    flex-direction: column;
}


/* VIDEO */
.product-details-video1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: black; */
    /* height: 600px;
    width: 1200px; */
    margin-top: 30px;
    margin-bottom: 30px;

}

.product-details-video1 video {
    width: 85%;
    height: 80%;
}


/* Light the way */
.product-details-lights {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 60px;
}

.product-details-lights .image-container {
    display: flex;
    justify-content: center;
    /* height: 70%;
    width: 70%; */
}


.product-details-lights .image-container img {
    padding: 10px;
    width: 40%;
    height: 100%;
    border-radius: 18px;
}


.product-details-lights .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.product-details-lights .text .head,
.product-details-lights .text .description {
    width: 50%;
}

.product-details-lights .text .head {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 50px;
}

.product-details-lights .text .description {
    margin-bottom: 30px;
}

/* 3 pics - Owl carousel */
.product-details-owl-carousel .text-container {
    text-align: center;
    display: flex;
    justify-content: center;
}

.product-details-owl-carousel .text {
    padding-top: 30px;
    width: 50%;
}

.product-details-owl-carousel .text .title {
    margin-bottom: 50px;
    font-size: 45px;
    font-weight: bold;

}

.product-details-owl-carousel .text .description {
    margin-bottom: 30px;

}


/* BMS BATTERY */

.product-retails-BMS-battery {
    position: relative;
    width: 100%;

}


.product-retails-BMS-battery .container-fluid {
    margin: 0;
    padding: 0;
    width: 100%;


}


.product-retails-BMS-battery img {
    width: 100%;
    height: 100%;
}

.product-retails-BMS-battery .body {
    color: white;
    position: absolute;
    top: 10%;
    left: 10%;
    width: 30%;
}

.product-retails-BMS-battery .body .title {
    font-size: 30px;
    font-weight: 700;
    width: 90%;


}

.product-retails-BMS-battery .body .description {
    margin-top: 50px;
}

.product-retails-BMS-battery .body .features {
    margin-top: 110px;

}

.product-retails-BMS-battery .body .features .row {
    width: 100%;
    margin-top: 15px;
}

.product-retails-BMS-battery .body .features .row .col-4 .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.product-retails-BMS-battery .body .features img {
    width: 50px;
    height: 50px;
}









/* PART 1 */

.product-details-three-card-description {
    margin-top: 50px;
}

.product-details-three-card-description .container {
    margin-top: 50px;
}


/*Testing 4 square layout */
.four-image-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 150px;
    /* margin-left:300px;
    margin-right:300px; */


}




.four-image-layout .col-md-6 {
    display: flex;
    justify-content: center;
    align-items: center;

}

.four-image-layout .card-body {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    padding: 15%;

}

#card1 {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

#card4 {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

#img1 {
    border-top-left-radius: 25px;

}

#img4 {
    border-bottom-right-radius: 25px;

}


/* REVIEWS */
.product-details-add-reviews .stars i {
    color: #e6e6e6;
    font-size: 35px;
    cursor: pointer;
    transition: color 0.2s ease;
}

.product-details-add-reviews .stars i.active {
    color: #ff9c1a;
}

/* REVIEWS: WRITE A REVIEW */
.product-details-write-reviews {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}




/*************  PRODUCT DETAILS FOR ALL PRODUCTS  ************/


.product-details-first-section {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* #product-details-section-one-b{
    display: flex;
} */

.product-details-description {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

}

.product-details-description .product-name {
    font-size: 2.5rem;
}

.product-details-description p {
    width: 80%;
}

.product-details-description table {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: 80%;

}

.product-details-description table td {
    border-style: solid;
    border-width: 1px;
    border-color: black;

}




.product-details-carousel .slick-next::before,
.product-details-carousel .slick-prev::before {
    color: black;
}




.product-details-carousel .slick-track .slick-slide {
    display: flex;
    justify-content: center;
}

/* .product-details-one .slider-for  {

} */

.product-details-carousel .slider-for img {
    width: 550px;
    height: 400px;
}




/* 
.product-details-one .slider-nav {}

.product-details-one .slider-nav div {


} */


.product-details-carousel .slider-nav img {
    height: 150px;
    width: 150px;

}

/*************  AUTHENTICATION FORMS ************/

.authen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh;


}

.authen h1 {
    text-align: center;
    margin-bottom: 20px;
}

.authentication-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* border-color: black;
    border-style: solid; */

}

.authentication-form input {
    width: 280px;
}


/*************  NAV BAR  ************/

.navbar {
    padding: 0 !important;

}

.navbar .navbar-brand img {
    width: 40px;
    height: 40px
}





/*************  FOOTER  ************/
.footer .logo img {
    width: 25px;
    height: 25px
}

.footer a {
    text-decoration: none;
}


/*************  ABOUT US ************/

.homepage-about .header {
    text-align: center;
    font-size: 50px;

}


.homepage-about .details div {
    padding-top: 20px;

}


/* Collage of pics */

.homepage-collage {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

.homepage-collage h5 {
    padding-top: 15px;

}


.rows {
    margin: 5%;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-between;

}

.column {
    flex: 1;
    margin-right: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: space-evenly;


}

.column img {
    width: 100%;
    display: block;
    margin-bottom: auto;
    margin-top: auto;
}

.rows .column img:first-child {
    margin-top: 0;
}

.rows .column img:last-child {
    margin-bottom: 0;
}
















/*************  RESPONSIVE DESIGN ************/





@media (max-width: 880px) {


    /* /************  HOME PAGE ************/

    /* Hero page */
    .homepage-hero .container-fluid{
        padding: 0;
    }
    .homepage-hero .body {
        position: absolute;
        top: 0;
        left: 0;
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        background: rgba(0, 0, 0, 0);
        /* You can adjust the background color and opacity */
        color: black;
        /* Text color */
        padding: 5px;
        /* Add padding to the text */
        box-sizing: border-box;
    }


    .homepage-hero .body .brand {
        display: flex;
        flex-direction: column;
        justify-content: start;
        height: 50%;
    }

    .homepage-hero .body .text {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 40%;
        width: 80%;
        text-align: left;
    }

    .homepage-hero .body .text .title {
        font-size: 25px;
        padding-bottom: 15px;
    }

    .homepage-hero .body .text .description {
        width: 80%;
        font-size: 13px;
    }

    .homepage-hero .body .text .btn {
        margin-top: 10px;
        /* width: 10px;
height: 50%; */

        width: 40%;

        white-space: nowrap;
        font-size: 12px;
        font-weight: bold;
        text-align: center;

    }

/* Product list */

.homepage-our-products .title {
    text-align: center;
    font-weight: bold;
}




    /* Our Own Testing */

    .homepage-our-testing .icons-text {
        position: relative;
    }

    

    /* Show: Mukuta 10 plus */
    .product-details-lights .text {}

    .product-details-lights .text .head {
        width: 80%;

    }

    .product-details-lights .text .description {
        width: 80%;

    }

    .product-details-lights .image-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .product-details-lights .image-container img {
        width: 80%;
    }

    /* 6pics layout */
    #card1 {
        border-radius: 0;
    }

    #img1 {
        border-radius: 0;
    }

    #img2-1 {
        order: -1;
    }


    #card4 {
        border-radius: 0;
    }

    #img4-1 {
        order: -1;
    }

    #img4 {
        border-radius: 0;

    }



}

@media (max-width: 640px) {

    /*************  HOME PAGE  ************/
    /* Hero page */
    .homepage-hero .body {
        position: absolute;
        top: 0;
        left: 0;
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        background: rgba(0, 0, 0, 0);
        /* You can adjust the background color and opacity */
        color: black;
        /* Text color */
        padding: 5px;
        /* Add padding to the text */
        box-sizing: border-box;
    }


    .homepage-hero .body .brand {
        display: flex;
        flex-direction: column;
        justify-content: start;
        height: 50%;
    }

    .homepage-hero .body .text {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 40%;
        width: 80%;
        text-align: left;
    }

    .homepage-hero .body .text .title {
        font-size: 25px;
        padding-bottom: 15px;
    }

    .homepage-hero .body .text .description {
        width: 80%;
        font-size: 13px;
    }

    .homepage-hero .body .text .btn {
        margin-top: 10px;
        /* width: 10px;
    height: 50%; */

        width: 40%;

        white-space: nowrap;
        font-size: 12px;
        font-weight: bold;
        text-align: center;

    }


/* OUR PRODUCTS */

.homepage-our-products .item:hover .card {
    transform: none;
    transition: none;
}

    /* OUR OWN TESTING */

    .homepage-our-testing .icons-text div {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .homepage-our-testing .video-text .text .title {
        font-size: 40px;
        font-weight: 800;
    
    }


    .homepage-our-testing .icons-text .card-wrapper:hover .card {
        transform: none;
        transition: none;
    }




    .homepage-products-preview .card-img-container {
        width: 65%
    }





    /* Partners */
    .homepage-partners .text {
        padding-bottom: 40px;
    }

    .homepage-partners .row .col-4 {
        margin-bottom: 20px;
    }

    /* Customer review */





    /* Find us - Map */
    .homepage-find-us iframe {
        width: 80%;
    }


    /*************  Product details  ************/

    /* Show.ejs (mkt10plus)  */

    .product-details-collage .col-md-6 {
        margin-top: 20px;
    }

    .product-details-collage .col-md-4 {
        margin-bottom: 20px;
    }



    /* 1 Template for all products */
    #product-details-section-one-a {
        padding-right: 30px;
        ;
        padding-left: 30px;
    }

    .product-details-first-section .product-details-carousel .slider-nav img {
        padding: 15px;

    }


    #product-details-section-one-b {
        padding-top: 30px
    }

    #product-details-section-one-b .product-name {
        font-size: 2rem;
        text-align: center;
    }

}


@media (max-width: 552px) {
    /* Hero page */


    .homepage-hero .body .text .title {
        font-size: 18px;
        padding-bottom: 15px;
        width: 80%;

    }

    .homepage-hero .body .text .description {
        width: 90%;
        font-size: 12px
    }

    .homepage-hero .body .text .btn {
        margin-top: 8px;

        width: 40%;

        white-space: nowrap;
        font-size: 10px;
        font-weight: bold;
        text-align: center;

    }

}


@media (max-width: 500px) {

    /* Hero page */


    .homepage-hero .body .text .title {
        font-size: 17px;
        padding-bottom: 15px;
        width: 80%;

    }

    .homepage-hero .body .text .description {
        width: 90%;
        font-size: 12px
    }

    .homepage-hero .body .text .btn {
        margin-top: 8px;

        width: 40%;

        white-space: nowrap;
        font-size: 10px;
        font-weight: bold;
        text-align: center;

    }


    /* Products list */
    .homepage-products-preview .m-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        padding-bottom: 10%;
        /* Adjust the percentage as needed */

        &::before {
            content: "";
            width: 50%;
            /* Adjust the width as needed */
            height: 1px;
            /* Border height */
            background-color: gray;
            /* Border color */
            position: absolute;
            bottom: 0;
        }


    }

    .homepage-products-preview .card-img-container {
        width: 65%
    }



    /* Partners */
    .partners-carousel-new img {
        width: 60px;
        height: 60px;
    }

    .partners {
        text-align: center;
        padding-bottom: 20px;
        padding-top: 20px;
    }



    .partners .text {
        font-size: 25px;
        margin-bottom: 30px;




    }

}


@media (max-width: 460px) {

    /* Hero page */
    .homepage-hero .body {
        position: absolute;
        top: 0;
        left: 0;
        width: 70%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        background: rgba(0, 0, 0, 0);
        color: black;
        /* Text color */
        padding: 5px;
        /* Add padding to the text */
        box-sizing: border-box;
    }


    .homepage-hero .body .text {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        width: 90%;
        text-align: left;
    }

    .homepage-hero .body .text .title {
        font-size: 16px;
        padding-bottom: 8px;

    }

    .homepage-hero .body .text .description {
        width: 70%;
        font-size: 10px;
    }

    .homepage-hero .body .text .btn {
        margin-top: 10px;

        width: 40%;

        white-space: nowrap;
        font-size: 10px;
        font-weight: bold;
        text-align: center;

    }


    /* Products list */
    .homepage-products-preview .m-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        padding-bottom: 10%;
        /* Adjust the percentage as needed */

        &::before {
            content: "";
            width: 50%;
            /* Adjust the width as needed */
            height: 1px;
            /* Border height */
            background-color: gray;
            /* Border color */
            position: absolute;
            bottom: 0;
        }


    }

    .homepage-products-preview .card-img-container {
        width: 65%
    }



  /* OUR OWN TESTING */

  .homepage-our-testing{
    padding-bottom: 30px;
  }

  .homepage-our-testing .icons-text  {
    padding:10px;
    
}




    /* Partners */
    .partners-carousel-new img {
        width: 80px;
        height: 80px;
    }

    .partners {
        text-align: center;
        padding-bottom: 20px;
        padding-top: 20px;
    }



    .partners .text {
        font-size: 25px;
        margin-bottom: 30px;




    }

}

@media (max-width: 396px) {

    /* Hero page */


    .homepage-hero .body .text .title {
        font-size: 16px;
        padding-bottom: 2px;
        width: 70%;

    }

    .homepage-hero .body .text .description {
        width: 70%;
        font-size: 9px
    }

    .homepage-hero .body .text .btn {
        margin-top: 8px;

        width: 40%;

        white-space: nowrap;
        font-size: 10px;
        font-weight: bold;
        text-align: center;

    }


    /* Products list */
    .homepage-products-preview .m-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        padding-bottom: 10%;
        /* Adjust the percentage as needed */

        &::before {
            content: "";
            width: 50%;
            /* Adjust the width as needed */
            height: 1px;
            /* Border height */
            background-color: gray;
            /* Border color */
            position: absolute;
            bottom: 0;
        }


    }

    .homepage-products-preview .card-img-container {
        width: 65%
    }


}



















/* TEST */
/* #card1 {
        border-top-right-radius: 50px;
        border-top-left-radius: 50px;
    }

    #card2 {
        display: flex;
        flex: column;


        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }

    .test .container {
        display: flex;
        flex-direction: column;
    }

    #img2-1 {
        order: -1;
    }

    #img1 {
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;



    }

    #img2 {
        border-bottom-right-radius: 0px;

    } */