<% layout('layouts/boilerplate.ejs') %>

    <div class="authen">
        <h1>Login</h1>

        <form action="/login" method="POST" class="authentication-form" id="authentication-register">
            <div>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp">
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <div class="mb-3 ">
                    <!-- <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Remember me </label>  -->

                    <span>Don't an account yet? <a href="/register">Register here!</a></span>


                </div>


                <button type="submit" class="btn btn-success">Log in</button>

            </div>
        </form>

    </div>